body {
    background-color: white;
}

h1 {
    color: black; 
    font-family: 'Playfair Display', serif;
    font-weight: bold;

}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.hero {
    background: #F9F7FE
    text-align: center;
}

p {
    font-size: 36px;
    font-weight: bold;
}