body {
    background-color: white;
}

h1 {
    color: black; 
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    

}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;

}

.hero {
    background: #F9F7FE;
    text-align: center;
}

.hero p {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
 .hero h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 2;
    font-size: 16px;
 }
